:root {
  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #cccccc;
  --c3: #707070;
  --c4: #404040;
  --c5: #2e2e2e;
  /* --p1: #295D66;
  --p2: #5C9099; */
  --linear: linear-gradient(to top, var(--p1), var(--p2));
}

ul {
  list-style: none;
  padding: 0px;
}

li {
  /* width: 160px; */
  /* margin: 0px; */
  margin-top: 10px;
  transition: 0.3s;
  padding: 20px;
  border-bottom: 8px solid transparent;
  /* background: blue; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: roboto;
}

/* Gerais */

body {
  background: var(--c5);
  color: var(--w);
  display: grid;
  justify-content: center;
  margin: 0px;
}

h1 {
  font-family: poppins;
  font-size: 7.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--w);
}

h1::after {
  content: "";
  display: block;
  max-width: 80%;
  height: 8px;
  background: var(--c4);
  border-radius: 4px;
  margin: 20px auto 0 auto;
}

.aulas {
  border-radius: 4px;
  padding: 40px 80px;
  background: var(--c4);
  margin: 80px auto 80px auto;
  max-width: 800px;
}

.aulas-lista {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  justify-items: center;
  color: var(--c2);
}

.last-child {
  grid-column: 1 / -1;
}

li:hover {
  border-radius: 4px;
  margin-top: 0px;
  background: var(--c5);
}

@media (max-width: 820px) {
  h1 {
    font-size: 6rem;
  }
  .aulas {
    padding: 20px 40px;
  }

  .aulas-lista {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 620px) {
  h1 {
    font-size: 5rem;
  }

  .aulas-lista {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  li:hover {
    /* margin-top: 0px;
    border-bottom: 8px solid transparent; */
    border-radius: 4px;
    margin-top: 10px;
    padding: 20px;
    background: var(--c5);
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 3.5rem;
    margin-bottom: 0;
  }


}

@media (max-width: 300px) {
  h1 {
    font-size: 2.5rem;
  }

  .aulas{
    padding: 10px;
  }

  .aulas-lista li{
    padding: 8px;
  }
  .aulas-lista a{
    font-size: 0.8rem;
  }
}

/* @media (max-width: 420px) {
  h1::after {
    width: 320px;
  }

} */

/* @media (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }
} */

/* @media (max-width: 340px) {
  h1::after {
    width: 240px;
  }
} */

/* @media (max-width: 255px) {

  h1::after {
    width: 160px;
  }
} */
