.experiencia .subtitulo {
  font-family: "Expletus Sans", 'Fira Sans', Arial;
  font-weight: 700;
  color: #e0e0e0;
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto .strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  width: 4px;
  height: 20px;
  background: linear-gradient(#ce62f4, #9a1bd6);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -48px;
  font-size: 0.875rem;
  color: #525252;
}

.empresa-titulo {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.1;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
}

.empresa-habilidades li::before {
  content: "";
  width: 4px;
  height: 8px;
  background: linear-gradient(#ce62f4, #9a1bd6);

  position: absolute;
  top: 10px;
  left: -4px;
}

.empresa-habilidades .html::before {
  background: linear-gradient(#f6c159, #ef9309);
}

.empresa-habilidades .css::before {
  background: linear-gradient(#20b3e1, #2475a3);
}

.empresa-habilidades .js::before {
  background: linear-gradient(#ede284, #baab23);
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .experiencia .subtitulo {
    text-align: center;
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 40px auto;
  }

  .empresa-ano {
    position: initial;
    order: 1;
  }

  .empresa-ano::before {
    content: "Ano: ";
  }
} 

@media (max-width: 400px) {
  .experiencia .subtitulo {
    font-size: 2rem;
  }

  .experiencia-texto {
    font-size: 1rem;
  }

  .empresa {
    grid-template-columns: 1fr;
  }
}
