:root {
  --c12: #000000;
  --c11: #111111;
  --c10: #2e2e2e;
  --c5: #b3b3b3;
  --w: #fff;
}

:root {
  --p1: #ffbb00;
  --gradiente: #ffbf00, #f2a60c;
  --gradiente-escuro: #ffb60b, #e59317;
}

/* Gerais */

h1,
p,
ul {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

.header-bg {
  background: var(--c12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: var(--w);
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* gap: 0px 40px; */
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  font-size: 1.125rem;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--w);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }

  .header-menu a {
    background: var(--c11);
    padding: 12px 16px;
    border-radius: 4px;
  }

  .header-menu a:hover {
    background: var(--c10);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }

  .header-menu a {
    padding: 8px 12px;
    font-size: 0, 875rem;
  }
}

.introducao-bg {
  background: var(--c12);
  color: var(--w);
  box-sizing: border-box;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 80px;
}

.introducao-conteudo h1 {
  color: var(--w);
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: 32px;
}

.introducao-conteudo p {
  color: var(--c5);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.25rem;
  margin-bottom: 20px;
}

.detalhe-t {
  color: var(--p1);
}

.introducao a {
  color: var(--p-5, #320);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.33;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 4px;
  background: linear-gradient(var(--gradiente));
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.introducao a:hover {
  background: linear-gradient(var(--gradiente-escuro));
}
