img {
  max-width: 100%;
  height: auto;
  display: block;
}

#galeria {
  max-width: 600px;
  margin: 0 auto;
}

#galeria ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0px;
  gap: 10px;
  margin-bottom: 10px;
}

#galeria li {
  cursor: pointer;
}